
<!-- edit -->

<form action="cmd.php" method="post" enctype="multipart/form-data">

<p>
<b>Изменение страницы сайта</b>
<p>

<table class="grid" cellpadding="2" cellspacing="1" width="100%">
<tr class="grid">
	<td width="15%" class="head">Расположение</td>
	<td>{html_options name="form[pid]" options=$form.pid_tree selected=$form.pid}</td>
</tr>
<tr class="grid">
	<td class="head" width="15%">Название страницы</td>
	<td><input type="text" name="form[name]" value="{$form.name}" style="width:100%"></td>
</tr>
<tr class="grid">
	<td class="head">URL</td>
	<td><input type="text" name="form[url]" value="{$form.url}" style="width:99%"></td>
</tr>
<tr class="grid">
	<td class="head">Заголовок страницы</td>
	<td><input type="text" name="form[page_title]" value="{$form.page_title}" style="width:99%"></td>
</tr>
<tr class="grid">
	<td class="head">Описание страницы</td>
	<td><input type="text" name="form[page_desc]" value="{$form.page_desc}" style="width:99%"></td>
</tr>
<tr class="grid">
	<td class="head">Ключевые слова страницы</td>
	<td><input type="text" name="form[page_keyword]" value="{$form.page_keyword}" style="width:99%"></td>
</tr>
<tr class="grid">
	<td class="head">Видимость</td>
	<td><label name="form[hidden]"><input type="checkbox" name="form[hidden]"{if $form.hidden} checked{/if}> скрытая</label></td>
</tr>
<tr class="grid">
	<td class="head">Модуль</td>
	<td>{html_options name="form[class]" options=$form.class_tree selected=$form.class}</td>
</tr>

<tr class="grid">
	<td class="head">Текст страницы</td>
	<td>{insert name="fckeditor" size="500" field="form[info]" value=`$form.info` toolbarset="My"}</td>
</tr>
<!--
<tr class="grid">
	<td class="head">Картинка</td>
	<td>
	<table width="100%"><tr><td>
	{if $form.img}
		<table><tr>
		<td><img src="{$path}{$form.id}_{$form.img_name}" width="100" height="100"></td>
		<td>{$form.img}</td>
		</tr></table>
	{/if}
	<input type="hidden" name="MAX_FILE_SIZE" value="5000000">
	<input name="img" type="file">
	{if $form.img}<label name="img_del"><input type="checkbox" name="img_del"> удалить</label>{/if}
	</td></tr></table>
	</td>
</tr>
-->
<tr class="grid">
	<td class="head">Вес</td>
	<td><input type="text" name="form[orderby]" value="{$form.orderby}" style="width:5%"></td>
</tr>


</table>

<p>
<center>
<input type="hidden" name="mod" value="{$smarty.get.mod}">
<input type="hidden" name="do" value="{$smarty.get.do}">
<input type="hidden" name="form[pid]" value="{$smarty.get.pid}">
<input type="hidden" name="do_add" value="{$do_add}">
{if $do_add}
	<input type="submit" value="Добавить">
{else}
	<input type="hidden" name="id" value="{$smarty.get.id}">
	<input type="submit" value="Изменить">
{/if}
<input type="submit" name="cancel" value="Отмена">
</center>
<p>

</form>

<!-- edit -->
