{assign var=my_url value="mod=`$smarty.get.mod`&find[text]=`$find.text_html`"}
{assign var=my_colspan value="4"}

<!-- list -->

<script language="javascript">menu.openTo({$smarty.get.mod}, true);</script>

<p>
<b>{$page_title}</b>
<p>

<table class="grid" cellpadding="2" cellspacing="1" width="100%">
<form action="cmd.php" method="post">
<tr class="head" align="center">
	<td width="1%"><b>#</b></td>
	<td width="15%"><b>Подключен</b></td>
	<td width="15%"><b>Группа</b></td>
	<td width="50%"><b>Провайдер</b></td>
</tr>

{foreach from=$list key=k item=i}
<tr class="{cycle name="tr" values="grid1,grid2"}"  align="center"
	onMouseOut="this.className='{cycle name="mouse" values="grid1,grid2"}'"
	onMouseOver="this.className='grid3'">

	<td>{$i.id}</td>
	<td><input type="checkbox" name="form[link][{$i.id}]"{if $i.link} checked{/if}></td>
	<td>{$i.provider_group}</td>
	<td align="left">{$i.provider}
		{if !$i.status} <b>(выключен глобально)</b>{/if}
	</td>
	
	{*insert name="action_row"
		edit_url="?mod=`$smarty.get.mod`&do=edit&id=`$i.id`"
		del_url="cmd.php?mod=`$smarty.get.mod`do=del&id=`$i.id`"*}

</tr>
{/foreach}

<tr class="grid" align="center">
	<td></td>
	<td>
		<input type="hidden" name="mod" value="{$smarty.get.mod}">
		<input type="hidden" name="do" value="provider_edit">
		<input type="hidden" name="shop_id" value="{$smarty.get.shop_id}">
		<input type="submit" value="Изменить">
	</td>
	<td colspan="2"></td>
</tr>

{*insert name="action_pages" colspan="$my_colspan"
	page_url="?$my_url&sort=`$smarty.get.sort`"
	add_url="?mod=`$smarty.get.mod`&do=edit"*}

</form>
</table>


<!-- /list -->
