
<!-- edit -->

<script language="javascript">menu.openTo({$mod}, true);</script>

<form action="cmd.php" method="post" enctype="multipart/form-data">

<p>
<b>{$page_title}</b>
<p>

<table class="grid" cellpadding="2" cellspacing="1" width="100%">

{foreach from=$form key=k item=i}
	<tr class="grid">
		<td class="head" width="25%">{$i.name}</td>
		<td>
			{if $i.type=='text'}
				<input type="text" name="form[{$i.param}]" value="{$i.value}" style="width:50%">
			{elseif $i.type=='select'}
				{html_options name="form[`$i.param`]" options=$i.tree selected=$i.value}
			{/if}
		</td>
	</tr>
{/foreach}

</table>










<p>
<center>
<input type="hidden" name="mod" value="{$mod}">
<input type="hidden" name="do" value="{$do}">
<input type="hidden" name="do_add" value="{$do_add}">
{if $do_add}
	<input type="submit" value="Добавить">
{else}
	<input type="hidden" name="id" value="{$id}">
	<input type="submit" value="Изменить">
{/if}
</center>
<p>

</form>

<!-- /edit -->
