ul.CmsListMenuClassicVerticalCssHover, ul.CmsListMenuClassicVerticalCssHover ul {
    background: white;
    border: 1px solid #9d9da1;
    width: 170px;
}
ul.CmsListMenuClassicVerticalCssHover li {
    padding: 1px;
    padding-left: 26px;
    width: 100%;
}
ul.CmsListMenuClassicVerticalCssHover li.CmsMenuItemFolder {
    background: url("images/item_folder.gif") no-repeat; 
}
ul.CmsListMenuClassicVerticalCssHover li.CmsMenuItemFolder ul {
    left: 140px;
    top: 5px;
}
ul.CmsListMenuClassicVerticalCssHover li.CmsMenuItemFile {
    background: url("images/item_moz.gif") no-repeat;
}
ul.CmsListMenuClassicVerticalCssHover li.CmsMenuItemFolder a {
    background: url("images/sub.gif") right no-repeat;
}
ul.CmsListMenuClassicVerticalCssHover li.CmsMenuItemFile a {
    background-image: none;
}

ul.CmsListMenuClassicVerticalCssHover a {
    padding: 2px;
    border: 1px solid #fff;
    text-decoration: none;
    color: gray;
    font-weight: bold;
}
ul.CmsListMenuClassicVerticalCssHover a:hover {
    border-color: gray;
    background-color: #bbb7c7;
    color: black;
}

ul.CmsListMenuClassicVertical li.CmsMenuItemFolderExpanded ul.FolderOverflowRight {
   left: -100%;
}
ul.CmsListMenuClassicVertical li.CmsMenuItemFolderExpanded ul.FolderOverflowBottom {
   top: auto;
   bottom: 0;
}