
body, p {
    font-family:tahoma;
    font-size:8pt;
    background-color:#ffffff;
}

tr {
    font-family:tahoma;
    font-size:8pt;
}

tr.grid {
    font-family:tahoma;
    font-size:8pt;
    background-color:#ffffff;
}

tr.grid1 {
    background-color:#ffffff;
}

tr.grid2 {
    background-color:#eeeeee;
}

tr.grid3 {
    background-color:#dddddd;
}

table.grid {
    background-color:#aaaaaa;
}

tr.head, td.head {
    background-color:#cccccc;
}

tr.total {
    background-color:#dddddd;
}

td.menu {
    padding-top:8px;
    padding-bottom:8px;
}

fieldset.menu {
    padding:5px;
}

textarea, select, input, button {
    font-size: 8pt;
    font-family: Verdana, Arial Cyr, Arial, Helvetica;
    vertical-align: middle;
    border: 1px solid #cccccc;
};
