<p>

</td>
</tr>
</table>

<!-- footer -->

<table border=0 width="100%" style="border-top: 1px dashed #808080;">
<tr valign="top">
<td width="33%" align="left">
	<table><tr><td>
		Версия {$info.version}<br>
		Время выполнения {$time_exec} сек.<br>
		SQL: {$sql_count}, memcache: {$memcache}<br>
	</td></tr></table>
</td>
<td width="33%" align="center">
    <table><tr><td align="left">
    {$info.copyright}
    </td></tr></table>
</td>
<td width="33%" align="right">
    <table><tr><td align="left">
    {$info.support}
</td>
</tr>
</table>

</body>
</html>
