<td style="border-right: 1px dashed #808080; padding:3px">



<!-- main menu -->

<div class="dtree">
<img src="img/px.gif" width="0" height="400" style="float:left">

<img src="img/icon/spacer.png" width="120" height="1">
<script type="text/javascript">
<!--

menu = new dTree('menu');
menu.config.closeSameLevel=true;
//menu.icon.folder='lib/js/dtree/img/page.gif';
//menu.icon.folderOpen='lib/js/dtree/img/page.gif';

{if $auth.access=="adm"}
	menu.add(0,-1,'<b><a href="?mod=0">Разделы сайта</a></b>');
{else}
	menu.add(0,-1,'<b>Разделы сайта</b>');
{/if}

{foreach from=$list key=k item=i}
    menu.add({$i.id},{$i.pid},'{$i.name}','{$i.url}','{$i.title}','{$i.target}','{$i.icon}','{$i.iconopen}','{$i.open}');
{/foreach}

document.write(menu);

//-->
</script>

</div>

<!-- /main menu -->

{if $mod_tree}
<!-- tree -->
    {insert name="mod_tree" func=$mod_tree}
<!-- /tree -->
{/if}

</td>
<td>&nbsp;</td>
<td width="100%">

{insert name="status"}
