ul.CmsListMenuClassicVerticalSpass, ul.CmsListMenuClassicVerticalSpass ul {
//    background: white;
//    border: 0px solid #9d9da1;
border: 0;
background: #00c6ff;
    width: 170px;
}
ul.CmsListMenuClassicVerticalSpass li {
//    padding: 1px;
    padding-left: 1px;
    width: 100%;
}
/*
ul.CmsListMenuClassicVerticalSpass li.CmsMenuItemFolder {
//    background: url("images/item_folder.gif") no-repeat; 
}
*/


ul.CmsListMenuClassicVerticalSpass li.CmsMenuItemFolder ul {
position: absolute; 
left: 140px; 
top: 5px;
}


/*
ul.CmsListMenuClassicVerticalSpass li.CmsMenuItemFile {
//    background: url("images/item_moz.gif") no-repeat;
}
*/
/*
ul.CmsListMenuClassicVerticalSpass li.CmsMenuItemFolder a {
//    background: url("images/sub.gif") right no-repeat;
}
*/
ul.CmsListMenuClassicVerticalSpass li.CmsMenuItemFile a {
//    background-image: none;
}

ul.CmsListMenuClassicVerticalSpass a {
//    padding: 2px;
//    border: 1px solid #fff;
//    text-decoration: none;
//    color: gray;
//    font-weight: bold;
        width: 11em;
        display : block;
        color: #004284;
        font-weight : bold;
        text-decoration : none;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: #007AC3;
        margin-bottom: 8px;
        margin-left: 6px;
        padding : 0 0.5em;


}
ul.CmsListMenuClassicVerticalSpass a:hover {
//    border-color: gray;
//    background-color: #bbb7c7;
    color: black;
}

ul.CmsListMenuClassicVertical li.CmsMenuItemFolderExpanded ul.FolderOverflowRight {
   left: -100%;
}
ul.CmsListMenuClassicVertical li.CmsMenuItemFolderExpanded ul.FolderOverflowBottom {
   top: auto;
   bottom: 0;
}

ul.CmsListMenuClassicVerticalSpass li.CmsMenuItemFolder {
position: relative;
}                                                                                       

