
<!-- edit -->

<form action="cmd.php" method="post" enctype="multipart/form-data">

<p>
<b>{$page_title}</b>
<p>

<table class="grid" cellpadding="2" cellspacing="1" width="100%">
<tr class="grid">
	<td class="head" width="10%">Город</td>
	<td>{html_options name="form[city_id]" options=$form.city_tree selected=$form.city_id}</td>
</tr>
<tr class="grid">
	<td class="head">Группа</td>
	<td>{html_options name="form[provider_group_id]" options=$form.group_tree selected=$form.provider_group_id}</td>
</tr>
<tr class="grid">
	<td class="head">Провайдер</td>
	<td><input type="text" name="form[provider]" value="{$form.provider}" style="width:50%"></td>
</tr>
<tr class="grid">
	<td class="head">Организация</td>
	<td><input type="text" name="form[org_name]" value="{$form.org_name}" style="width:50%"></td>
</tr>
<tr class="grid">
	<td class="head">Статус</td>
	<td><label name="form[status]"><input type="checkbox" name="form[status]"{if $form.status} checked{/if}> активен</label></td>
</tr>

</table>

<p>
<center>
<input type="hidden" name="mod" value="{$smarty.get.mod}">
<input type="hidden" name="do" value="{$smarty.get.do}">
<input type="hidden" name="do_add" value="{$do_add}">
{if $do_add}
	<input type="submit" value="Добавить">
{else}
	<input type="hidden" name="id" value="{$smarty.get.id}">
	<input type="submit" value="Изменить">
{/if}
<input type="submit" name="cancel" value="Отмена">
</center>
<p>

</form>

<!-- /edit -->
