{assign var=my_url value="mod=`$smarty.get.mod`&find[text]=`$find.text_html`"}
{assign var=my_colspan value="10"}

<!-- list -->

<script language="javascript">menu.openTo({$smarty.get.mod}, true);</script>

<p>
<b>{$page_title}</b>
<p>

<table class="grid" cellpadding="2" cellspacing="1" width="100%">
<form action="cmd.php" method="post">
<input type="hidden" name="mod" value="{$smarty.get.mod}">
<input type="hidden" name="do" value="set">
<input type="hidden" name="provider_id" value="{$smarty.get.provider_id}">

<tr class="head" align="center">
	<td align="left"><b>Прайс</b></td>
	<td align="left"><b>Товар</b></td>
	<td align="left"><b>ЗА</b></td>	
	<td width="5%"><b>НЕ ставить<br />соотв.</b></td>
</tr>

{foreach from=$list key=k item=i}
<tr class="{cycle name="tr" values="grid1,grid2"}"  align="center"
	onMouseOut="this.className='{cycle name="mouse" values="grid1,grid2"}'"
	onMouseOver="this.className='grid3'">

	<td align="left">{$i.price_good}</td>
	<td align="left">{$i.good}</td>
	<td align="left">{$i.zarticle}</td>
	<td>
	<input type="checkbox" name="nosoot[{$i.id}]" value="1">
	</td>
	

</tr>
{/foreach}

<tr class="head" align="center">
	<td colspan="3"></td>
	<td><input type="submit" value="Проставить"></td>	
</tr>

</form>
</table>


<!-- /list -->
