
<!-- edit -->

<form action="?" method="get" enctype="multipart/form-data">

<p>
<b>{$page_title}</b>
<p>

<p>Выберите провайдера для простановки соответствий. На следующем шаге откроется таблица,
в которой позициям прайса, не имеющим соответствия, будут подобраны товары из базы товаров по ЗА</p>

<table class="grid" cellpadding="2" cellspacing="1" width="100%">
<tr class="grid">
	<td class="head" width="10%">Выбрать поставщика</td>
	<td>{html_options name="provider_id" options=$form.provider_tree selected=$form.provider_id}</td>
</tr>
</table>

<p>
<input type="hidden" name="mod" value="{$smarty.get.mod}">
<input type="hidden" name="do" value="price_list">
<input type="submit" value="Проставить соответствия">
<p>

</form>

<!-- /edit -->
