
<!-- edit -->

<form action="cmd.php" method="post" enctype="multipart/form-data">

<p>
<b>{$page_title}</b>
<p>

<table class="grid" cellpadding="2" cellspacing="1" width="100%">

<tr class="grid">
	<td class="head" width="10%">Товар</td>
	<td><input type="text" name="form[good]" value="{$form.good}" style="width:50%"></td>
</tr>

<tr class="grid">
	<td class="head">Не выгружать</td>
	<td><label name="form[not_load]"><input type="checkbox" value="1" name="form[not_load]"{if $form.not_load} checked{/if}></label></td>
</tr>

<tr class="grid">
	<td class="head" width="10%">МРЦ</td>
	<td><input type="text" name="form[rprice]" value="{$form.rprice}" style="width:10%"> руб.</td>
</tr>

<tr class="grid">
	<td class="head" width="10%">ЗА</td>
	<td><input type="text" name="form[zarticle]" value="{$form.zarticle}" style="width:10%"></td>
</tr>


</table>

<p>
<center>
<input type="hidden" name="mod" value="{$smarty.get.mod}">
<input type="hidden" name="do" value="{$smarty.get.do}">
<input type="hidden" name="do_add" value="{$do_add}">
{if $do_add}
	<input type="submit" value="Добавить">
{else}
	<input type="hidden" name="id" value="{$smarty.get.id}">
	<input type="submit" value="Изменить">
{/if}
<input type="submit" name="cancel" value="Отмена">
</center>
<p>

</form>

<!-- /edit -->
