
<!-- edit -->

{literal}
<script>
function doLoad1() {
//alert(value);
	// Create new JsHttpRequest object.
	var req = new JsHttpRequest();
	// Code automatically called on load finishing.
	req.onreadystatechange = function() {
		if (req.readyState == 4) {
			// Write result to page element (_RESULT become responseJS). 
			document.getElementById('result1').innerHTML = req.responseJS.str;
			// Write debug information too (output become responseText).
			document.getElementById('debug1').innerHTML = req.responseText;
		}
	}
	// Prepare request object (automatically choose GET or POST).
	req.open(null, 'ajax.php', true);
	// Send data to backend.
	req.send( { 
		good:		document.getElementById('good').value,
		price_id:	{/literal}{$smarty.get.id}{literal},
		do:		'good_list',
		debug:		0
	}
	);
}
</script>
{/literal}


<form action="cmd.php" method="post" enctype="multipart/form-data">

<p>
<b>{$page_title}</b>
<p>

<table class="grid" cellpadding="2" cellspacing="1" width="100%">
<tr class="grid">
	<td class="head">Название поставщика</td>
	<td style="cursor:pointer" OnClick="document.getElementById('good').value='{$form.good_js}';doLoad1();">
		{$form.good}
	</td>
</tr>
<tr class="grid">
	<td class="head" width="15%">Соответствие</td>
	<td><input type="text" name="form[good_orig]" value="{$form.good_orig}" style="width:50%"
			id="good" autocomplete="off" onkeyup="doLoad1();">
		<input type="checkbox" name="form[good_new] style="border:0"> добавить новое название для соответсвия

		<div id="result1"></div>
		<div id="debug1"></div>
	</td>
</tr>
<tr class="grid">
	<td class="head">ЗА</td>
	<td>
		{$form.zarticle}
	</td>
</tr>
<tr class="grid">
	<td class="head">МРЦ</td>
	<td>
		{$form.rprice}
	</td>
</tr>

</table>

<p>
<center>
<input type="hidden" name="mod" value="{$smarty.get.mod}">
<input type="hidden" name="do" value="{$smarty.get.do}">
<input type="hidden" name="do_add" value="{$do_add}">
{if $do_add}
	<input type="submit" value="Добавить">
{else}
	<input type="hidden" name="id" value="{$smarty.get.id}">
	<input type="submit" value="Изменить">
{/if}
<input type="submit" name="cancel" value="Отмена">
</center>
<p>

</form>

<!-- /edit -->
