ul.CmsListMenuClassicVerticalBlended, ul.CmsListMenuClassicVerticalBlended ul, ul.CmsListMenuClassicVerticalBlended li, ul.CmsListMenuClassicVerticalBlended a {
    display:block;
    margin:0;
    padding:0;
    border:0;
}
ul.CmsListMenuClassicVerticalBlended, ul.CmsListMenuClassicVerticalBlended ul, 
ul.CmsListMenuClassicVerticalBlended div.blendIeBugfix{
    float: left;
    list-style: none;
    position: static;
}
ul.CmsListMenuClassicVerticalBlended li {
    clear: both;
    float: left;
    position: relative;
}
html>body ul.CmsListMenuClassicVerticalBlended li {
    float: none;
    width: auto;
}
ul.CmsListMenuClassicVerticalBlended a {
    width:100%; /* IE */
}
html>body ul.CmsListMenuClassicVerticalBlended a { 
    width:auto; 
}
ul.CmsListMenuClassicVerticalBlended div.blendIeBugfix {
    background: transparent;
    position: absolute;
}
ul.CmsListMenuClassicVerticalBlended li.CmsMenuItemFolderExpanded {
    z-index: 1;
}
ul.CmsListMenuClassicVerticalBlended li.CmsMenuItemFolderExpanded div.blendIeBugfix{
    display: block;
}
ul.CmsListMenuClassicVerticalBlended li.CmsMenuItemFolderCollapsed div.blendIeBugfix {
    display: none;
}