{assign var=my_url value="mod=`$smarty.get.mod`&find[text]=`$find.text_html`"}
{assign var=my_colspan value="3"}

<!-- list -->

<script language="javascript">menu.openTo({$smarty.get.mod}, true);</script>

<p>
<b>{$page_title}</b>
<p>

<table class="grid" cellpadding="2" cellspacing="1" width="100%">
<form action="cmd.php" method="post">
<tr class="head" align="center">
	<td width="1%"><b>#</b></td>
	<td width="15%"><b>Подключен</b></td>
	<td width="50%"><b>Магазин</b></td>
</tr>

{foreach from=$list key=k item=i}
<tr class="{cycle name="tr" values="grid1,grid2"}"  align="center"
	onMouseOut="this.className='{cycle name="mouse" values="grid1,grid2"}'"
	onMouseOver="this.className='grid3'">

	<td>{$i.id}</td>
	<td><input type="checkbox" name="form[link][{$i.id}]"{if $i.link} checked{/if}></td>
	<td align="left">{$i.shop}
		{if !$i.status} <b>(выключен глобально)</b>{/if}
	</td>

</tr>
{/foreach}

<tr class="grid" align="center">
	<td></td>
	<td>
		<input type="hidden" name="mod" value="{$smarty.get.mod}">
		<input type="hidden" name="do" value="shop_edit">
		<input type="hidden" name="adm_id" value="{$smarty.get.adm_id}">
		<input type="submit" value="Изменить">
	</td>
	<td colspan="2"></td>
</tr>


</form>
</table>


<!-- /list -->
